* {
    margin: 0;
    padding: 0;
    background-color: rgb(233, 223, 211);
    background-image: url(../pg1/img/fundo.png);
    background-size: cover;

}

header {
    border: 5px solid rgba(158, 37, 21, 0.829);
    display: flex;
    justify-content: space-around;
    align-items: center;

}


header img {
    width: 100px;
    object-fit: cover;
}

ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}

.carrinho {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium
}

section {
    display: flex;
    justify-content: center;
    padding: 5%;
    gap: 10px;
}

section img {
    height: 400px;
    width: 400px;
}

.sessao3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -50px;
}


footer {
    padding-top: 100px;
    display: flex;
    flex-direction: column;
}

.rodape {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -80px;
}

.icones1 {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-around;
    width: 10px;
    margin-left: 20px;
}


/*Página 2*/

cards,img {

    width: 200px;

}

.card {
    border: 1px solid black;
    width: 200px;

}

.card-1 {
    margin-top: 50px;
}

.card-2 {
    margin-top: 40px;
}

.card-3 {
    margin-top: 30px;
}

.card-4 {
    margin-top: 20px;
}

.cards{
    display: flex;
    justify-content: center;
    gap: 3px;
    /* margin-top: 50px; */
}